<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @property.location %>
</p>

<p>
  <strong>Prop type:</strong>
  <%= @property.prop_type %>
</p>

<p>
  <strong>Occupancy:</strong>
  <%= @property.occupancy %>
</p>

<p>
  <strong>Details:</strong>
  <%= @property.details %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user_id %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
